*{
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}

div{
    box-sizing: content-box;
}

.mini{
    border: 1px solid cyan;
    padding: 5px;
    margin: auto;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-content: center;
    display: flex;
}

.tiny{
    border: 5px solid magenta;
    padding: 10px;
    margin: auto;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-content: center;
    display: flex;
}

.medium{
    border: 10px solid yellow;
    padding: 20px;
    margin: auto;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-content: center;
    display: flex;
}

.big{
    border: 20px solid black;
    padding: 40px;
    margin: auto;
    height: 400px;
    width: 400px;
    justify-content: center;
    align-content: center;
    display: flex;
}